header {
    background-color: purple;
    color: white;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    width: 64em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid gray;
}

p {
    background-color: #DDDDDD;
    color: #000000;
    border: 2px solid #7E57C2;
}
